.header__logo {
  width: 142px;
  height: 33px;
  background-image: url(../../../images/header-logo.svg);
  transition: opacity .2s linear;
}

.header__logo:hover {
  opacity: .6;
}

@media screen and (max-width: 500px) {
  .header__logo {
    margin-left: 27px;
    width: 103.74px;
    height: 24.4px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}