.page__container {
  max-width: 1280px;
  min-width: 320px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: #FFFFFF;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
}