.cards {
  max-width: 880px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: repeat(auto-fit, 362px);
  grid-gap: 20px 17px;
  margin: 55px auto 66px;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .cards {
    width: calc(100% - 38px);
    margin: 36px auto 48px;
  }
}