@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/page/__container/page__container.css);
/* header */
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__auth/header__auth.css);
@import url(./blocks/header/__style/header__style.css);
@import url(./blocks/header/__button/header__button.css);
/* content */
@import url(./blocks/content/content.css);
/* блок profile */
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__avatar-overlay/profile__avatar-overlay.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-edit/profile__avatar-edit.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
/* блок cards */
@import url(./blocks/cards/cards.css);
@import url(./blocks/card/card.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__delete-button/card__delete-button.css);
@import url(./blocks/card/__info/card__info.css);
@import url(./blocks/card/__title/card__title.css);
@import url(./blocks/card/__like-container/card__like-container.css);
@import url(./blocks/card/__like-button/card__like-button.css);
@import url(./blocks/card/__like-counter/card__like-counter.css);
@import url(./blocks/card/__like-button/_active/card__like-button_active.css);
/* блок footer */
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
/* popup */
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__auth-icon/popup__auth-icon.css);
@import url(./blocks/popup/__title-auth/popup__title-auth.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/__text-container/form__text-container.css);
@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__input-error/form__input-error.css);
@import url(./blocks/form/__input-error/_active/form__input-error_active.css);
@import url(./blocks/form/__input/_type/form__input_type_error.css);
@import url(./blocks/form/__button/form___button.css);
@import url(./blocks/form/__save-button/form__save-button.css);
@import url(./blocks/form/__save-button/_disabled/form__save-button_disabled.css);
@import url(./blocks/form/__caption/form__caption.css);
@import url(blocks/form/__caption-hover/form__caption-hover.css);
/* popup-image */
@import url(./blocks/popup/__container-image/popup__container-image.css);
@import url(./blocks/figure/figure.css);
@import url(./blocks/figure/__image/figure__image.css);
@import url(./blocks/figure/__title/figure__title.css);
@import url(./blocks/popup/_type/popup_type_delete.css);
@import url(./blocks/popup/_type/popup_type_avatar.css);